<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Login_Page.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Sign_Up</servlet-name>
        <servlet-class>Sign_Up</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage_LoginCheck</servlet-name>
        <servlet-class>Homepage_LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot_Password</servlet-name>
        <servlet-class>Forgot_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>New_Collections_Servlet</servlet-name>
        <servlet-class>New_Collections_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot_Password_Servlet</servlet-name>
        <servlet-class>Forgot_Password_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>All_Products</servlet-name>
        <servlet-class>All_Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rented_Products</servlet-name>
        <servlet-class>Rented_Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Backend</servlet-name>
        <servlet-class>Update_Backend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order_History_Servlet</servlet-name>
        <servlet-class>Order_History_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>post_blog_servlet</servlet-name>
        <servlet-class>post_blog_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display_images_servlet</servlet-name>
        <servlet-class>Display_images_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>three_image_servlet</servlet-name>
        <servlet-class>three_image_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_All_Reviews</servlet-name>
        <servlet-class>View_All_Reviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Picture_servlet</servlet-name>
        <servlet-class>Picture_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleCaptcha</servlet-name>
        <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleCaptchaServlet</servlet-name>
        <servlet-class>SimpleCaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCaptchaService</servlet-name>
        <servlet-class>MyCaptchaService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sign_Up</servlet-name>
        <url-pattern>/Sign_Up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepage_LoginCheck</servlet-name>
        <url-pattern>/Homepage_LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot_Password</servlet-name>
        <url-pattern>/Forgot_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>New_Collections_Servlet</servlet-name>
        <url-pattern>/New_Collections_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot_Password_Servlet</servlet-name>
        <url-pattern>/Forgot_Password_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>All_Products</servlet-name>
        <url-pattern>/All_Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rented_Products</servlet-name>
        <url-pattern>/Rented_Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Backend</servlet-name>
        <url-pattern>/Update_Backend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order_History_Servlet</servlet-name>
        <url-pattern>/Order_History_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>post_blog_servlet</servlet-name>
        <url-pattern>/post_blog_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display_images_servlet</servlet-name>
        <url-pattern>/Display_images_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>three_image_servlet</servlet-name>
        <url-pattern>/three_image_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_All_Reviews</servlet-name>
        <url-pattern>/View_All_Reviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Picture_servlet</servlet-name>
        <url-pattern>/Picture_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleCaptcha</servlet-name>
        <url-pattern>/simpleCaptcha.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleCaptchaServlet</servlet-name>
        <url-pattern>/SimpleCaptchaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCaptchaService</servlet-name>
        <url-pattern>/MyCaptchaService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
